<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.gmu.csi.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="edu.gmu.csi.Perspective"
            id="handwriting-viewer.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="edu.gmu.csi.view.DataListView"
            id="handwriting-viewer.datalistview"
            name="Data View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="edu.gmu.csi.view.CharacterImageView"
            id="handwriting-viewer.characterimageview"
            name="Image View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="edu.gmu.csi.view.RunListView"
            id="handwriting-viewer.runlistview"
            name="Run View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="edu.gmu.csi.view.ConfusionMatrixView"
            id="handwriting-viewer.confusionmatrixview"
            name="Confusion Matrix View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="edu.gmu.csi.view.ClassificatonView"
            id="handwriting-viewer.classificationview"
            name="Data Input View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="handwriting-viewer.application"
            name="Handwriting Viewer">
         <property
               name="appName"
               value="Handwriting Viewer">
         </property>
      </product>
   </extension>

</plugin>
